<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139725456546-iunpmegn7tamuc1r5po81i06vh62gt98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139725456546-iunpmegn7tamuc1r5po81i06vh62gt98</string>
	<key>API_KEY</key>
	<string>AIzaSyD39MKamz8ksQ-1gLry1q-7MHab3Zt7jUM</string>
	<key>GCM_SENDER_ID</key>
	<string>139725456546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peoplechain.memint</string>
	<key>PROJECT_ID</key>
	<string>memint-c2130</string>
	<key>STORAGE_BUCKET</key>
	<string>memint-c2130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139725456546:ios:a1e15e25071e98e85b43fb</string>
</dict>
</plist>